<template>
  <div class="user-list">
    <div class="table-tool">
      <span>
        <el-button type="primary" @click="add">新增</el-button>
      </span>
      <span>
        <el-input
          v-model="searchValue"
          placeholder="按名称搜索"
          @input="search"
        >
          <i
            slot="suffix"
            class="el-icon-search el-input__icon"
          />
        </el-input>
      </span>
    </div>
    <el-table
      :data="tableData"
      border
      style="width: 100%"
    >
      <el-table-column
        v-for="header in tableHeaders"
        :key="header.prop"
        v-bind="header"
      />
      <el-table-column
        label="操作"
      >
        <template slot-scope="scope">
          <!-- <el-button type="text" size="small" @click="handleClick(scope.row)">查看</el-button> -->
          <el-button type="text" size="small" @click="edit(scope.row)">编辑</el-button>
          <el-button type="text" size="small" @click="del(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="table-pagination">
      <el-pagination
        :current-page="pageIndex"
        :page-sizes="[5, 10, 15, 20]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>

    <el-dialog
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :title="dialogInfo.title"
      :visible.sync="dialogInfo.dialogVisible"
      width="30%"
      @close="cancel"
    >
      <el-form
        ref="userForm"
        :model="userForm"
        :rules="userRules"
        autocomplete="on"
      >
        <el-form-item label="名称" prop="username">
          <el-input
            ref="username"
            v-model="userForm.username"
            placeholder="只能包括中文、英文、数字、下划线、横线、小数点，且最大长度为64个字符"
            name="username"
            type="text"
            tabindex="1"
            autocomplete="on"
            :disabled="disabledUsername"
          />
        </el-form-item>
        <el-form-item label="角色" prop="role">
          <el-select
            v-model="userForm.role"
            :style="{ width: '100%' }"
            placeholder="请选择角色类型"
            :disabled="disabledRole"
          >
            <el-option label="admin" value="admin" />
            <el-option label="editor" value="editor" />
          </el-select>
        </el-form-item>
        <el-form-item label="昵称" prop="nickname">
          <el-input
            ref="nickname"
            v-model="userForm.nickname"
            placeholder="只能包括中文、英文、数字、下划线、横线、小数点，且最大长度为64个字符"
            name="nickname"
            type="text"
            tabindex="1"
            autocomplete="on"
          />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="confirm">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getList, addUser, updateUser, deleteUser } from '@/api/user'
import { validUsername } from '@/utils/validate'
import { debounce } from '@/utils'
const validateUsername = (rule, value, callback) => {
  if (!validUsername(value)) {
    callback(new Error('用户名输入有误'))
  } else {
    callback()
  }
}

// const validateUsername = (rule, value, callback) => {
//   if (!validUsername(value)) {
//     callback(new Error('用户名输入有误'))
//   } else {
//     callback()
//   }
// }

export default {

  data() {
    return {
      pageIndex: 1,
      pageSize: 5,
      total: 100,
      searchValue: '',
      dialogInfo: {
        type: 'add',
        title: '提示',
        dialogVisible: false
      },
      userForm: {
        username: '',
        role: '',
        nickname: ''
      },
      formItems: [
        {
          prop: 'name'
        }
      ],
      userRules: {
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        role: [{ required: true, message: '请选择用户角色', trigger: 'change' }],
        nickname: [{ trigger: 'blur', validator: validateUsername }]
      },
      tableHeaders: [
        {
          prop: 'username',
          label: '名称'
        },
        {
          prop: 'role',
          label: '角色'
        },
        {
          prop: 'nickname',
          label: '昵称'
        }
      ],
      tableData: []
    }
  },
  computed: {
    debounceQuery() {
      return debounce(() => {
        this.query()
      }, 1000)
    },
    disabledUsername() {
      return this.dialogInfo.type === 'update' &&
        (this.userForm.role === 'admin' || this.userForm.role === 'editor')
    },
    disabledRole() {
      return this.dialogInfo.type === 'update' && this.userForm.role === 'admin'
    }
  },
  mounted() {
    this.query()
  },
  methods: {
    query() {
      const data = {
        pageSize: this.pageSize,
        pageIndex: this.pageIndex
      }
      if (this.searchValue.trim()) {
        data.searchValue = this.searchValue
      }
      getList(data).then(data => {
        this.tableData = data.data
        this.total = data.page.total
      })
    },
    search() {
      this.debounceQuery()
    },
    handleCurrentChange(val) {
      this.pageIndex = val
      this.query()
    },
    handleSizeChange(val) {
      this.pageSize = val
      this.query()
    },
    add() {
      this.$nextTick(() => {
        this.dialogInfo.type = 'add'
        this.dialogInfo.title = '新增用户'
        this.dialogInfo.dialogVisible = true
      })
    },
    edit(row) {
      this.dialogInfo.type = 'update'
      this.dialogInfo.title = `编辑${row.username}`
      this.dialogInfo.dialogVisible = true
      // nextTick防止resetFileds
      this.$nextTick(() => {
        this.userForm = { ...row }
      })
    },
    del(row) {
      this.$prompt('请输入名称确认', '确认删除', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        inputValidator: (value) => {
          return value === row.username
        },
        inputErrorMessage: '名称不一致'
      }).then(({ value }) => {
        if (value === row.username) {
          // 删除逻辑
          deleteUser(row.id).then(() => {
            this.query()
            this.$message({
              type: 'success',
              message: '删除成功'
            })
          })
        }
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消输入'
        })
      })
    },
    confirm() {
      this.$refs.userForm.validate((valid) => {
        if (valid) {
          if (this.dialogInfo.type === 'add') {
            addUser(this.userForm).then(res => {
              this.dialogInfo.dialogVisible = false
              this.query()
            })
          } else {
            updateUser(this.userForm.id, {
              role: this.userForm.role,
              nickname: this.userForm.nickname
            }).then(res => {
              console.log(res)
              this.dialogInfo.dialogVisible = false
              this.query()
            })
          }
        } else {
          return false
        }
      })
    },
    cancel() {
      this.dialogInfo.dialogVisible = false
      this.$refs.userForm.resetFields()
    }
  }
}
</script>

<style lang="scss" scoped>
.user-list {
  .table-tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  .table-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
  }
}
</style>
